.input-div,.buttons-div {
    margin: 2rem 0;
}

.rows-div, .columns-div,.start-button, .reset-button {
margin-right: 1rem;
}

.grid-container {
display: grid;
justify-content: center;
}

.cell {
width: 30px;
height: 20px;
border: solid 0.5px rgb(179, 176, 176);
}

.cell.dead {
background-color: #FBFBFB;
}

.cell.alive {
background-color: #14A44D;
}
.input-div{
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
}
.rows-div,.columns-div,.grid-name-input{
    font-size: 1.25rem;
}
.rows-div input,.columns-div input,.name-input input,.grid-name-input input{
    margin-left: 1rem;
    height: 1.75rem;
    font-size: 1.25rem;
}
.grid-name-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-div,.name-input{
    text-align: center;
    font-size: 1.125rem;
}
.start-button{
    padding: 1rem 2rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #3B71CA;
    text-transform: uppercase;
    cursor: pointer;
}
.reset-button{
    padding: 1rem 2rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #332D2D;
    text-transform: uppercase;
    margin-left: 1rem;
    cursor: pointer;
}
.grid-name{
    text-align: center;
}
.edit{
    text-align: center;
}
.edit-button{
    padding: 1rem 2rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #14A44D;
    text-transform: uppercase;
    cursor: pointer;
}
.addGrid-button{
    padding: 1rem 2rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color:#E4A11B;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 1rem;
}